<mt:include name="dialog/header.tmpl" page_title="<__trans phrase="Installed sass templates.">">

<p><__trans phrase="Completed the installation of the template." /></p>
<p><__trans phrase="Installed template override does not do, for initialization, please try again once deleted." /></p>

<div>
  <button
     type="submit"
     accesskey="x"
     title="<__trans phrase="Close">"
     class="primary action button mt-close-dialog">
    <__trans phrase="Close">
  </button>
</div>

<mt:include name="dialog/footer.tmpl">
