<mtapp:setting
   id="cmd_ruby"
   label="<__trans phrase="Ruby Interpreter">:"
   show_hint="1"
   hint="Ruby 1.8.7 or later.">
  <input type="text" name="cmd_ruby" value="<mt:var name="cmd_ruby" encode_html="1" />" class="full-width" /><br />
</mtapp:setting>

<mtapp:setting
   id="sass_cache_dir"
   label="<__trans phrase="Sass cache DIR">:"
   show_hint="1"
   hint="The path where the cached sassc files">
  <input type="text" name="sass_cache_dir" value="<mt:var name="sass_cache_dir" encode_html="1" />" class="full-width" /><br />
</mtapp:setting>
